@import '../../sass/variables'

.bannerHeading
	text-align: center

.cta
	display: none
	margin: 1.5rem 0
	text-align: center

.bannerLink
	margin-top: 1rem
	display: block
	color: white
	text-decoration: underline
	width: 100%
	text-align: right
	&:hover
		color: white

.message
	margin-top: .5rem
