@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Roboto+Slab:wght@200&display=swap')

@import 'palette.scss'

$custom-font: 'Fira Sans', sans-serif
$serif-font: 'EB Garamond', serif
$logo-font: 'Roboto Slab', serif

.custom-font
	font-family: $custom-font
	letter-spacing: .1em
	font-style: italic

.custom-font-small
	font-family: $custom-font
	font-size: 110%

.logo-font
	font-family: $logo-font

.serif-font
	font-family: $serif-font
