@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,575&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,450;1,600&display=swap')

@import 'palette.scss'

$custom-font: 'Raleway', sans-serif
$serif-font: 'EB Garamond', serif

.custom-font
	font-family: $custom-font
	letter-spacing: .1em
	font-style: italic

.custom-font-small
	font-family: $custom-font
	font-size: 110%
