@import 'mixins.sass'
@import 'palette.scss'

.nav-logo-img
	width: 5rem
	height: 5rem
	padding: .3rem
	+handheld(2, 360px)
		width: 3rem
		height: 3rem

.nav-logo
	line-height: .9

.nav-logo-font
	font-family: $logo-font
	color: $primary-color
	letter-spacing: .1em
	font-size: 200%
	+handheld(2, 360px)
		font-size: 130%

.nav-logo-small-font
	font-family: $serif-font
	text-align: center
	letter-spacing: .09em
	color: $logo-sub-text
	+handheld(2, 360px)
		font-size: 60%
