@import 'mixins.sass'
@import 'palette.scss'

.main-title
	font-size: 150%
	text-align: center
	color: $grayish
	+desktop(96dpi, 600px)
		font-size: 180%
	+desktop(96dpi, 1024px)
		font-size: 260%

.required-text
	color: red

.teacher-name
	font-size: 1.2rem

.info-modal-paragraph
	text-indent: 2rem
	padding: .5rem

.profile-user-name
	color: black
	font-size: 130%
	font-family: $serif-font
	letter-spacing: .1em
	transition: color .2s ease-in
	&:hover
		color: $primary-second

.text-small
	color: $lightGrey

.school-explained
	color: $primary-second
	font-weight: 550
	letter-spacing: .06rem
	p:first-child
		font-weight: 550
		padding-bottom: .75rem

.school-explained-section
	padding: 1rem 0rem
	line-height: 1.9
	p
		color: $primary-second
		text-indent: .75rem
		font-size: 105%
	p:first-child
		text-indent: 0
		font-size: 120%
		padding-bottom: 1rem

.prices-explained
	p
		padding: .7rem 0rem
		text-indent: 1rem
		line-height: 1.5

.page-container
	margin: 0 1rem
	max-width: 800px
	h1, h2, h3
		text-align: center
		margin: 2rem 1rem
	h1
		font-size: 1.5rem
		@media screen and (min-width: $medium)
			font-size: 2rem
	h2
		font-size: 1.2rem
	h3
		font-size: 1rem
	p
		text-indent: 1.3rem
		margin-bottom: 1.3rem
	p, ul
		line-height: 1.5
	ul
		list-style: none
		@media screen and (max-width: $small)
			padding: 0 1rem
	ul li
		margin: 1rem 0rem
		&::before
			content: '•'
			color: #2F3033
			display: inline-block
			margin-right: .4rem
		a
			&:last-child
				color: #6A6D72
				margin-left: 1.75rem
				font-size: .75rem
	img
		width: 100%
		max-width: 350px
		height: auto
