@use "sass:color"

@import 'fonts.sass'
@import 'text.sass'
@import 'notification.sass'
@import 'footer.sass'
@import 'palette.scss'
@import 'animations.sass'
@import 'buttons.sass'
@import 'icons.sass'
@import 'lazyLoadingImage.sass'
@import 'mixins.sass'
@import 'logo.sass'
@import 'variables.sass'
@import './components/f1Form'

html
	scroll-behavior: smooth
	+handheld(2, 768px) // ipad
		font-size: 110%
	+handheld(2, 1024px) // ipadPro
		font-size: 115%
	+desktop(96dpi, 640px)
		font-size: 110%

body
	padding-top: 5rem // navbar height

p
	margin: 0
	padding: 0

.contacts-list
	list-style: none
	padding: 0
	line-height: 1.6
	font-size: 120%

.responsive-image
	height: auto
	width: 100%

.responsive-image-fraction
	height: auto
	width: 75%

.image-align-helper
	display: inline-block
	height: 100%
	vertical-align: middle

.primary-color-shadow
	border-radius: .3rem
	box-shadow: 0 0 .5rem 0 rgba(0, 123, 255, 1)

.success-color-shadow
	border-radius: .3rem
	box-shadow: 0 0 .5rem 0 #00ff88

.gray-shadow
	border-radius: .3rem
	box-shadow: 0 0 .5rem 0 #6b6b6b

// teacher card
.teacher-specs-list
	list-style: none
	padding: 0
	margin: 0
	p
		text-indent: .75rem
		margin-bottom: .5rem

.teacher-job-title
	margin-bottom: 1.3rem
	border-bottom: 1px solid $lightGrey

.teacher-speciality
	font-size: 110%
	color: $primary-color
	font-style: oblique
	font-weight: 400
	margin-bottom: .25rem

.more-teacher-info // button!
	color: $primary-color
	background: none
	padding: 0
	margin: 0
	border: 0

.teacher-avatar
	height: auto
	width: 100%
	box-shadow: .1rem .3rem .5rem .15rem rgba(0, 0, 0, 0.1) //should really be a mixin

.teacher-name
	font-size: 150%

.teacher-social-icon
	path
		fill: $lightGrey
	&:hover path
		fill: $primary-color

.spec-title
	color: $primary-color-muted

.more-info
	padding-top: .5rem

.dropdown-menu
	padding: 1rem 1.5rem

.nav-list-icon
	padding-right: .5rem

.logout-btn
	color: $primary-second
	width: 100%
	text-align: right
	font-size: 110%

// navigation bar links
.navbar-nav
	+handheld(2, 100px)
		padding: .7rem 1rem .7rem 1rem
	+desktop(96dpi, 100px)
		padding: .7rem 1rem .7rem 1rem

.school-nav-link
	color: $primary-second
	font-weight: 500
	border-bottom: $borderNavLinkHeight solid transparent
	transition: border .15s, background-color .7s
	transition-timing-function: cubic-bezier(.43,.18,.79,.48)
	
.school-nav-link
	&.is-active
		+linkHighlight()
	&:hover
		+linkHighlight()

.main-nav-link
	+mainNavLink()

.school-mgmt-links
	a
		+mainNavLink()
		// this one is particullary bad
		color: $primary-second !important // :(
		@media screen and (max-width: $medium)
			padding-left: 0 !important

.carousel-container
	margin-top: -5rem
	img
		height: 55vh
		object-fit: cover
		+desktop(96dpi, 1024px)
			height: 70vh

.carousel-overlay
	background-image: linear-gradient(to bottom, rgba(33, 33, 33, 0), rgba(33, 33, 33, .8))
	height: 100%
	width: 100%
	position: absolute

.elevated-z-index
	z-index: 3

.custom-gray-border
	border-right: 1px solid #dee2e6
	border-bottom: 1px solid #dee2e6
	border-left: 1px solid #dee2e6

.navbar-hidden
	top: -3.5rem
	opacity: 0

.navbar-visible
	top: 0rem
	opacity: 1

nav
	transition: opacity ease-in 500ms, top ease-in 500ms

.moar-padding-top // tf is this?
	padding-top: 4rem

.marker-info
	ul
		list-style: none
		padding: 0
		margin: 0
		li
			padding: .3rem
		li:first-child
			font-size: 120%

.navbar-toggler
	border: none !important // will remove soon, just for testing

.default-shadow
	box-shadow: .1rem .3rem .5rem .15rem rgba(0, 0, 0, 0.1)

.user-status-icon
	cursor: pointer
	color: $lightGrey
	&:hover
		color: $primary-color

.grecaptcha-badge
	z-index: 4

.profile-tab
	a
		color: red
		padding: 2rem

.form-label
	margin-top: .75rem

.form-required-mark
	color: #dc3545

.form-validation-error
	color: #dc3545
	position: absolute
	font-size: 80%
	bottom: -.75rem

.form-validation-error-mk2
	color: #dc3545
	font-size: 80%

.login-pass-feedback
	position: inherit

.fixed-wdth-btn
	width: 4rem
	margin: 0rem 1rem

.position-center
	position: fixed
	display: flex
	justify-content: center
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.btn-with-icon
	width: 5rem

.is-active
	+linkHighlight()

.video-responsive
	overflow: hidden
	padding-bottom: 56.25%
	position: relative
	height: 0

.video-responsive iframe
	left: 0
	top: 0
	height: 100%
	width: 100%
	position: absolute

.payment-date
	font-size: .75rem

.payment-month
	@for $i from 1 through 9
		&:nth-child(#{$i})
			background-color: color.adjust($month-color, $hue: $i * 15%)

.top-ten-colors
	@for $i from 1 through 9
		&:nth-child(#{$i})
			background-color: color.adjust($top-ten-color, $hue: $i * 30%)

.payment-month
	font-size: .8rem

.teacher-details-container
	p
		padding: .3rem 0rem

.map-container
	// messes up footer
	// or remove height from 'google-maps-react'
	height: 0 !important

.warning-background
	background-color: $warn

.danger-background
	background-color: $danger

.recaptcha-statement
	color: $lightGrey
	font-size: .7rem
	padding: .3rem 0rem
	a
		padding: 0 .2rem

.grecaptcha-badge
	visibility: hidden

.checkbox-link
	text-decoration: underline

.filter-selection-display
	padding: 1rem
	border: 1px solid $lightGrey
	min-height: 4rem
	border-radius: .2rem
	background-color: $lightestColor
	display: flex
	align-items: center

.filter-setting-value:after
	content: "\2022"
	color: $lightGrey
	padding: 0 .3rem 0 .3rem

.pupil-not-enrolled
	background-color: $pupil-not-enrolled

.filter-select
	color: $lightGrey
	option
		color: black

.paid-month
	border-radius: .5rem
	margin: .2rem
	padding: .4rem 0rem
	text-align: center
	text-transform: capitalize
	&.highlighted
		background-color: $paid-month

.payment-pupil-name
	color: $primary-second
	padding-bottom: .1rem
	border-bottom: .09rem solid $primary-second

.pupil-groups
	letter-spacing: .065rem
	p
		&:nth-child(1)
			color: $primary-second
			font-size: 1rem
			font-weight: 500
	color: $primary-second
	font-size: 90%
	padding: .4rem 1rem
	border-radius: .7rem
	@for $i from 1 through 5
		&:nth-child(#{$i})
			background-color: color.adjust($top-ten-color, $hue: $i * 50%)

.user-details-email
	color: $primary-color
	border-bottom: .1rem solid $primary-color
	margin-bottom: 1rem

.user-detail-name
	font-family: $serif-font
	font-size: 140%

.user-details-info
	div
		margin: .4rem 0rem
	.user-card-timestap
		color: $lightGrey
		font-size: 80%
		margin: 0rem
	.user-state-detail
		margin: 0rem

.user-details-highlight
	background-color: $warn
