@import '../palette.scss'

.f1-form
	box-shadow: 7px -5px 26px -6px #2c2c2c44

.f1-header
	font-size: 80%

.f1-apply-text
	p
	line-height: 1.6

.pupil-f1-data
	p
		color: $f1-form-text

.f1-form-field-underline
	text-decoration: underline
	color: black

.f1-personal-data-text
	font-style: italic

.f1-personal-data-text, .f1-obligations-text
	font-size: 70%
	text-indent: 1rem

.f1-docs
	color: black

.f1-subheader
	color: black
