@import '../../sass/_palette.scss'
@import '../../sass/_variables.sass'

.wideLabel
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between

.infoIcon
	color: $primary-color
	cursor: pointer
	font-size: 1.3rem

.paymentTotalMessage
	font-style: italic
	font-size: 140%
	color: $primary-second
	text-align: right

.totalAmount
	color: $primary-second
	font-weight: 500
